- if can?(:create, Subscription)
  = link_to 'Subscribe',
            subscriptions_subscribe_path(question_id: @question),
            class: ['subscription-button',
                    'subscribe',
                    "#{'hidden' if current_user.subscribed?(@question)}"],
            method: :post, remote: true

  br

  = link_to 'Unsubscribe',
            subscriptions_unsubscribe_path(question_id: @question),
            class: ['subscription-button',
                    'unsubscribe',
                    "#{'hidden' unless current_user.subscribed?(@question)}"],
            method: :post, remote: true
